{% extends 'base.html' %}
{% block content %}
<section class="section">
    <section class="container">
        <article class="content">
            <section class="columns">
                <div class="column">
                    <h1>Board Page</h1>
                    <p>Monitor, create and modify your tasks. Aim to increase productivity.</p>
                </div>
                <div class="column">
                    <article class="message is-warning">
                        <div class="message-body is-italic">{{ quote['quote'] }} <strong> - {{ quote['name'] }}</strong></div>
                    </article>
                </div>
            </section>
            <section class="columns">
                <div class="column">
                    <h3>Create a task</h3>
                    <form class="form" method="post">
                        <div class="field">
                            <label class="label">Name</label>
                            <input required name="task-name" type="text" class="input" placeholder="Important Meeting"></input>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <input required name="task-desc" type="text" class="input" placeholder="Discuss bar chart to stakeholders."></input>
                        </div>
                        <div class="field">
                            <label class="label">Value</label>
                            <input required name="task-value" type="text" class="input" placeholder="What value does this task add?"></input>
                        </div>
                        <div class="field">
                            <button class="button is-medium is-success">Create task</button></div>
                    </form>
                </div>
                <div class="column">
                </div>
            </section>

            <h1 id="piles">Piles</h1>


            <section class="columns">
                <article class="column">
                    <h3>Todo Pile</h3>
                    {% if 'tasks' in data.keys() %}
                        {% for d in data['tasks'] %}
                            {% if d['status'] == 'incomplete' %}
                                <article class="notification is-link">
                                    <div class="content">
                                        {% include 'task-template.html' %}
                                        <p><a class="is-fullwidth button is-dark is-normal" href="{{ url_for('update_task', status='complete', uuid=d['uuid']) }}">Mark this task as complete</a></p>
                                    </div>
                                </article>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </article>
                <article class="column">
                    <h3>Finished Pile</h3>
                    {% if 'tasks' in data.keys() %}
                        {% for d in data['tasks'] %}
                            {% if d['status'] == 'complete' %}
                                <article class="notification is-success">
                                    <div class="content">
                                        {% include 'task-template.html' %}
                                    </div>
                                </article>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </article>
            </section>
        </article>
    </section>
</section>
{% endblock %}