{% extends 'base.html' %}
{% block content %}
<section class="section">
    <section class="container">
        <article class="content">
            <h1>Dashboard</h1>

                <p>Monitor your progress, view workflow stats, create and manage your tasks.</p>
                <article class="message is-warning">
                    <div class="message-body is-italic">{{ quote['quote'] }} <strong> - {{ quote['name'] }}</strong></div>
                </article>

            <section class="columns">
                {% set tasks_total = tasks_complete|length + tasks_incomplete|length + tasks_blocked|length%}
                
                {% if tasks_total == 0 %}
                    {% set completion_rate = 0 %}
                {% else %}
                    {% set completion_rate = (tasks_complete|length / tasks_total) %}
                {% endif %}
                
                {% set stats = [{'Completed Tasks': tasks_complete|length},
                                {'Incomplete Tasks': tasks_incomplete|length + tasks_blocked|length},
                                {'Total Tasks': tasks_total},
                                {'Completion Rate': '{0:0.0%}'.format(completion_rate)}] %}
                {{ data }}

                {% for s in stats %}
                {% for k, v in s.items() %}
                <article class="column">
                    <div style="height:100%;" class="notification is-primary has-text-centered">
                        <h1 class="has-text-white">{{ v }}</h1>
                        <p>{{ k }}</p>
                    </div>      
                </article>
                {% endfor %}
                {% endfor %}
            </section>
            
            <h1 id="piles">Workflow</h1>
            <section class="columns">
                <article class="column">
                    <h3>Create a task</h3>
                    <form class="form" method="post">
                        <div class="field">
                            <label class="label">Name</label>
                            <input required name="task-name" type="text" class="input" placeholder="Important Meeting"></input>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <textarea class="textarea" rows="2" required name="task-desc" type="text" class="input" placeholder="Discuss bar chart to stakeholders."></textarea>
                        </div>
                        <div class="field">
                            <label class="label">Value</label>
                            <textarea rows="2" class="textarea" required name="task-value" type="text" class="input" placeholder="Increases understanding of data."></textarea>
                        </div>
                        <div class="field">
                            <button class="button is-primary">Create task</button></div>
                    </form>

                </article>

                <article class="column">
                    <h3>Blocked ({{ tasks_blocked|length }})</h3>
                        {% if tasks_blocked|length < 1 %}
                        <p>You have no blocked tasks.</p>
                        {% endif %}

                        {% for d in tasks_blocked %}
                                <article class="message is-danger">
                                    <div class="message-body">
                                        {% include 'task-template.html' %}
                                        <p><a class="is-fullwidth button is-danger is-small" href="{{ url_for('update_task', status='incomplete', uuid=d['uuid']) }}">Start working on this</a></p>
                                    </div>
                                </article>
                        {% endfor %}
                </article>

                <article class="column">
                    <h3>In Progress ({{ tasks_incomplete|length }})</h3>
                        {% if tasks_incomplete|length < 1 %}
                        <p>You have no tasks, you can create one in the left panel.</p>
                        {% endif %}

                        {% for d in tasks_incomplete %}
                                <article class="message is-info">
                                    <div class="message-body">
                                        {% include 'task-template.html' %}
                                        <p><a class="is-fullwidth button is-link is-small" href="{{ url_for('update_task', status='blocked', uuid=d['uuid']) }}">This task is blocked</a></p>
                                        <p><a class="is-fullwidth is-small button is-link" href="{{ url_for('update_task', status='complete', uuid=d['uuid']) }}">This task is complete</a></p>
                                    </div>
                                </article>
                        {% endfor %}
                </article>
                <article class="column">
                    <h3>Finished ({{ tasks_complete|length }})</h3>
                        
                        {% if tasks_complete|length < 1 %}
                            <p>You have not completed any tasks so far.</p>
                        {% endif %}

                        {% for d in tasks_complete %}
                                <article class="message is-primary">
                                    <div class="message-body">
                                        {% include 'task-template.html' %}
                                    </div>
                                </article>
                        {% endfor %}
                </article>
            </section>
        </article>
    </section>
</section>
{% endblock %}