{% extends 'base.html' %}

{% block content %}
<section class="section">
	<section class="container">
		<article class="content">
			<h1>Features Page</h1>
			<p>This page lists features that have already been built into the application, as well as features I wish to add in the future.</p>
			<h3>Current Features</h3>
			<p>This applications intent is to drive productivity through a simple and easy to GUI and intuitive design. The following features are currently included;
			<ul>
				<li><strong>Registration</strong> and <strong>Login</strong> system</li>
				<li>Password <strong>SHA-512 encryption</strong></li>
				<li>NOSQL database system, using <strong>MongoDB</strong></li>
				<li>Dynamic routing</li>
				<li>Pre-request authentication</li>
				<li><strong>Secure session</strong> handling</li>
				<li>Creation of tasks, including descriptions and automatic timestamps</li>
				<li><strong>Members page</strong> listing all members signed up</li>
				<li><strong>Board page</strong> including all tasks within user scope</li>
				<li><strong>Features page</strong> including current and future features.</li>
				<li>Task status can be updated from incomplete to complete via button</li>

			</ul>

			<h3>Future Considerations</h3>
			<p>Features I would like to build out in the future;</p>
			<ul>
				<li><strong>Deleting</strong> tasks within user scope</li>
				<li>Breaking down tasks into <strong>micro-tasks</strong></li>
				<li>More detailed options for tasks (value and time metrics)</li>
				<li><strong>Profile</strong> page</li>
			</ul>
		</article>
		

	</section>
</section>
{% endblock %}