{% extends 'base.html' %}

{% block content %}
<section class="section">
	<section class="container">
		<article class="content is-medium">
			<h1>Features Page</h1>
			<p>This applications intent is to drive productivity through a simple and easy to GUI and intuitive design. The following features are currently included.
			<ul>
				<li>Registration and Login system</li>
				<li>Dynamic routing</li>
				<li>Pre-request authentication</li>
				<li>Creation of tasks, including descriptions and automatic timestamps</li>
				<li>Members page listing all members signed up</li>
				<li>Board page including all tasks within user scope</li>

			</ul>
			<p>These are features I would like to build out in the future.</p>
			<ul>
				<li>Deleting tasks within user scope</li>
				<li>Breaking down tasks into micro-tasks</li>
				<li>More detailed options for tasks (value and time metrics)</li>
				<li>Profile page</li>
			</ul>
		</article>
		

	</section>
</section>
{% endblock %}