{% extends 'base.html' %}

{% block content %}
<section class="section">
	<section class="container">
		<article class="content">
			<h2>Login Page</h2>
			<form class="form" method="POST">

				<div class="field">

				  <div class="control">
				  	<label class="label">Email</label>
				    <input required class="input is-info" type="text" placeholder="Enter email..." name="log-email">
				  </div>

				  <div class="control">
				  	<label class="label">Password</label>
				    <input required class="input is-info" type="password" placeholder="Enter password..." name="log-password">
				  </div>

				  <div class="control">
				  <button class="button is-success is-normal" role="submit">Login</button>
				  </div>
{% if error %}
<code>{{ error }}</code>

{% endif %}

				</div>
			</form>
		</article>
		

	</section>
</section>
{% endblock %}