{% extends 'base.html' %}
{% block content %}
<section class="section">
    <section class="container">
        <section class="content">
            <h1 class="cf-one">Members</h1>
            <p>This page shows members who are currently registered.</p>
        </section>
        <section class="columns is-multiline">
            {% for d in data %}
            <div class="column is-one-third">
                <article class="notification has-text-white move-up has-background-link">
                        <article class="content">
                            <h2 class="has-text-white cf-one">{{ d['name'] }}</h2>

                            <p class="is-italic">"{{ d['about-yourself'] }}"</p>

                            <p><span><i class="fas fa-envelope"></i></span> <span class="code">{{ d['email'] }}</span></p>
                            <p><span><i class="fas fa-calendar-alt"></i></span> <span class="code">{{ d['register-date']|timestamp_to_datetime }}</span></p>
                        </article>
                </article>
            </div>
            {% endfor %}
        </section>
    </section>
</section>
{% endblock %}