{% extends 'base.html' %}
{% block content %}
<section class="section">
    <section class="container">
        <section class="content">
            <h1 class="cf-one">Members</h1>
            <p>This page shows members who are currently registered.</p>
        </section>
        <section class="columns is-multiline">
            {% for d in data %}
            <div class="column is-one-third">
                <article class="notification has-text-white move-up has-background-link" style="height: 100%;">
                    <article class="content">
                        <h2 class="has-text-white cf-one">{{ d['name'] }}</h2>
                        
                        <!-- Member about yourself details -->
                        <p class="is-italic">"{{ d['about-yourself'] }}"</p>
                        
                        <!-- Member email -->
                        <p><span><i class="fas fa-envelope"></i></span> <span class="code">{{ d['email'] }}</span></p>
                        
                        <!-- Member registration date -->
                        <p><span><i class="fas fa-calendar-alt"></i></span> <span class="code">{{ d['register-date']|timestamp_to_datetime }}</span></p>

                        <!-- Check if member has a last logged in date and display -->
                        {% if d['last-login'] %}
                            <p><span><i class="fas fa-history"></i></span> <span class="code">{{ d['last-login']|timestamp_to_datetime(format_code='%Y-%b-%d %H:%M %p')}}</span></p>
                        {% endif %}
                    </article>
                </article>
            </div>
            {% endfor %}
        </section>
    </section>
</section>
{% endblock %}