{% extends 'base.html' %}
{% block content %}
<section class="section">
    <section class="container">
        <section class="content">
            <h2>Members Page</h2>
        </section>
        <section class="columns is-multiline">
            {% for d in data %}
            <div class="column">
                <article class="notification">
                    <div class="content">
                        <h3>{{ d['name'].upper() }}</h3>
                        <p><strong>Email:</strong> {{ d['email'] }}</p>
                        <p><strong>Dob:</strong> <code>{{ d['dob'] }}</code></p>
                        <p><strong>Joined:</strong> <code>{{ d['register-date'] }}</code></p>
                    </div>
                </article>
            </div>
            {% endfor %}
        </section>
    </section>
</section>
{% endblock %}