{% extends 'base.html' %}

{% block content %}
<section class="section">
	<section class="container">
		<article class="content">
			<h1>Register</h1>
			<form class="form" method="POST">
				

				  <!-- Full Name -->
				  <div class="control">
				  	<label class="label">Full Name</label>
				    <input required class="input is-info" type="text" placeholder="Enter full name..." name="reg-name">
				  </div>
				  <!-- Email -->
				  <div class="control">
				  	<label class="label">Email</label>
				    <input required class="input is-info" type="text" placeholder="Enter password..." name="reg-email">
				  </div>

				  <!-- Password -->
				  <div class="control">
				  	<label class="label">Password</label>
				    <input required class="input is-info" type="password" placeholder="Confirm password..." name="reg-password">
				  </div>


				  <!-- Confirm Password -->
				  <div class="control">
				  	<label class="label">Password</label>
				    <input required class="input is-info" type="password" placeholder="Enter password..." name="reg-confirm-password">
				  </div>


				  <!-- Dob -->
				  <div class="control">
				  	<label class="label">Birthday</label>
				    <input required class="input is-info" type="date" placeholder="Enter email..." name="reg-dob">
				  </div>

				  <button class="button is-success" role="submit">Register</button>

				  {% if error %}
				  <code>{{ error }}</code>
				  {% endif %}
			</form>
		</article>
		

	</section>
</section>
{% endblock %}