<article class="content is-normal">
    <p class=""><strong>{{ d['desc'] }}</strong> This task is important because <strong>{{ d['value'] }}</strong></p>


    <p class="help">
        <span class="icon">
            <i class="fas fa-clock"></i>
        </span> 
        <span class="code">{{ d['date-created']|timestamp_to_datetime(format_code='%d-%b-%Y %H:%M%p') }}</span>
    </p>

    {% if d['date-completed'] %}
    <p class="help">
        <span class="icon">
            <i class="fas fa-stopwatch"></i>
        </span> 
        <span class="code">{{ d['date-completed']|timestamp_to_datetime(format_code='%d-%b-%Y %H:%M%p') }}</span>
    </p>
    {% endif %}

    <p class="help">
        <span class="icon">
            <i class="fas fa-key"></i>
        </span> 
        <span class="code">{{ d['uuid'] }}</span>
    </p>


</article>