{% extends 'base.html' %}
{% block content %}
<section class="section">
    <section class="container">
        <article class="content">
            <h1 class="cf-one">Dashboard</h1>
            <p>Monitor your progress, view workflow stats, create and manage your tasks.</p>
            <article class="message is-warning">
                <div class="message-body is-italic">{{ quote['quote'] }} <strong> - {{ quote['name'] }}</strong></div>
            </article>
            <section class="columns">
                {% set tasks_total = tasks_complete|length + tasks_incomplete|length + tasks_blocked|length + tasks_ready|length %}
                {% if tasks_total == 0 %}
                {% set completion_rate = 0 %}
                {% else %}
                {% set completion_rate = (tasks_complete|length / tasks_total) %}
                {% endif %}
                {% set stats = [{'Completed Tasks': tasks_complete|length},
                {'Incomplete Tasks': tasks_incomplete|length + tasks_blocked|length + tasks_ready|length},
                {'Total Tasks': tasks_total},
                {'Completion Rate': '{0:0.0%}'.format(completion_rate)}] %}
                {{ data }}
                {% for s in stats %}
                {% for k, v in s.items() %}
                <article class="column">
                    <div style="height:100%;" class="card move-up has-background-link has-text-white has-text-centered">
                        <div class="card-content">
                            <h1 class="cf-one has-text-white">{{ v }}</h1>
                            <p>{{ k }}</p>
                        </div>
                    </div>
                </article>
                {% endfor %}
                {% endfor %}
            </section>
            <h1 class="cf-one">Create a new task</h1>
            <section class="columns">
                <article class="column is-half">
                    <form class="form" method="post">
                        <div class="field">
                            <label class="label">Name</label>
                            <input required name="task-name" type="text" class="input" placeholder="Important Meeting"></input>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <textarea class="textarea" rows="2" required name="task-desc" type="text" class="input" placeholder="Discuss bar chart to stakeholders."></textarea>
                        </div>
                        <div class="field">
                            <label class="label">Value</label>
                            <textarea rows="2" class="textarea" required name="task-value" type="text" class="input" placeholder="Increases understanding of data."></textarea>
                        </div>
                        <div class="field">
                            <button class="button is-outlined is-success is-medium">Create task</button></div>
                    </form>
                </article>
            </section>
            <h1 class="cf-one" id="piles">Workflow</h1>
            <section class="columns">
                
                <article class="column">
                    <h5 class="cf-one">Blocked ({{ tasks_blocked|length }})</h5>
                    {% if tasks_blocked|length < 1 %} <p>You have no blocked tasks.</p>
                        {% endif %}
                        {% for d in tasks_blocked %}
                        <article class="notification move-up has-background-danger has-text-white">
                            {% include 'board/card.html' %}
                        </article>
                        {% endfor %}
                </article>
                <article class="column">
                    <h5 class="cf-one">Ready for Dev ({{ tasks_ready|length }})</h5>
                    {% if tasks_ready|length < 1 %} <p>You have no tasks ready for dev.</p>
                        {% endif %}
                        {% for d in tasks_ready %}
                        <article class="notification move-up has-background-info has-text-white">
                            {% include 'board/card.html' %}
                        </article>
                        {% endfor %}
                </article>
                <article class="column">
                    <h5 class="cf-one">In Progress ({{ tasks_incomplete|length }})</h5>
                    {% if tasks_incomplete|length < 1 %} <p>You have no tasks, you can create one in the left panel.</p>
                        {% endif %}
                        {% for d in tasks_incomplete %}
                        <article class="notification move-up has-background-link has-text-white">
                            {% include 'board/card.html' %}
                        </article>
                        {% endfor %}
                </article>
                <article class="column">
                    <h5 class="cf-one">Finished ({{ tasks_complete|length }})</h5>
                    {% if tasks_complete|length < 1 %} <p>You have not completed any tasks so far.</p>
                        {% endif %}
                        {% for d in tasks_complete %}
                        <article class="notification move-up has-background-success has-text-white">
                            {% include 'board/card.html' %}
                        </article>
                        {% endfor %}
                </article>
            </section>
        </article>
    </section>
</section>
{% endblock %}